# Создать симулированные табличные наборы данных

In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.DataFrame()
df['integer'] = np.random.randint(low=1, high=10, size=100)
df['datetime'] = pd.Series(pd.date_range('1/1/2015', periods=100, freq='S'))
df['category'] = np.random.randint(low=0, high=1, size=100)

In [31]:
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [32]:
df.to_csv("data.csv", index=False)
df.to_excel('data.xlsx', index=False)
df.to_html('data.html', index=False)
df.to_json('data.json')
df.to_hdf('data.h5', key='datetime')